<div class="header">
    <a routerLink="/LandingPage" class="logo">Logo</a>
    <div class="header-right">
        <div class="containerheder">
            <div class="en"><a routerLink="/LandingPage" routerLinkActive="routed">Home<hr></a></div>
            <div class="två"><a routerLink="/Toplist" routerLinkActive="routed">Your Toplist<hr></a></div>
            <div class="tree"><a routerLink="/Rating" routerLinkActive="routed">Search & Rate<hr></a></div>
            <div class="fyra"><a routerLink="/Form" routerLinkActive="routed">Add Movie<hr></a></div>
            <div class="fem" ><a routerLink="/Credits" routerLinkActive="routed">About Us<hr></a></div>
        </div>  
    </div>  
</div>


