<div class="footerContainer">
  <div class="ulContainer">
     
    <figure>
      <figcaption>Can we help you?</figcaption>
      <ul>
          <li>FAQ</li>
          <li>Contact</li>
          <li>Newsletter</li>
          <li>Payment</li>
          <li>Shipping</li>
          <li>Returns policy</li>
        </ul>
    </figure>
    <figure>
      <figcaption>Company</figcaption>
      <ul>
          <li>About VideoMix</li>
          <li>Plusservices</li>
          <li>Enviroment</li>
          <li>Ethics</li>
          <li>Career</li>
          <li>Legal</li>
        </ul>
    </figure>  
    <figure>
      <figcaption>Account</figcaption>
      <ul>
          <li>New account</li>
          <li>Log in</li>
          <li>My information</li>
          <li>Orders</li>
          <li>Integrity</li>
          <li>Discounts</li>
        </ul>
    </figure>
  </div>

  <div class="iconContainer">
    <p>Social media</p>
    <img src="../../assets/images/facebook.png" alt="Facebook loggan"/>
    <img src="../../assets/images/instagram.png" alt="Instagram loggan"/>
    <img src="../../assets/images/twitter.png" alt="Twitter loggan"/>
    <img src="../../assets/images/reddit.png" alt="Reddit loggan"/>
    <img src="../../assets/images/videomix (1).svg" alt="loggan"/>
  </div>
</div>
