.footerContainer{
    background-color: #060606;
    width: 100%;
    height: auto;
    display: inline-flex;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}
.ulContainer {
    margin-top: 60px;
    display: inline-flex;
    width: 60%;
    height: 250px;
    overflow: hidden;
}
.ulContainer > li:last-child {
    margin-bottom: 10px;
}
figcaption {
    color: white;
    text-align: center;
    font-size: 1.2em;
}
ul {
    color: white;
    list-style-type: none;
}
li {
    margin: 10px;
}
li:hover {
    text-decoration: underline;
    cursor: pointer;
}
.iconContainer {
    margin-top: 60px;
}
.iconContainer > img {
    width: 50px;
    margin: 15px;
}
.iconContainer > img:hover {
    cursor: pointer;
}
.iconContainer > p {
    font-size: 1.2em;
    color: white;
    margin-top: 15px;
    text-align: center;
}
