<div class="footerContainer">
  <div class="ulContainer">
     
    <figure>
      <figcaption>Kan vi hjälpa till?</figcaption>
      <ul>
          <li>FAQ</li>
          <li>Kontakta oss</li>
          <li>Nyhetsbrev</li>
          <li>Betalningsalternativ</li>
          <li>Fraktalternativ</li>
          <li>Ångerrätt</li>
          <li>Presentkort</li>
        </ul>
    </figure>
    <figure>
      <figcaption>Företaget</figcaption>
      <ul>
          <li>Om VideoMix</li>
          <li>Plustjänster</li>
          <li>Hållbarhet</li>
          <li>Etik</li>
          <li>Karriär</li>
          <li>VideoMix juridiska</li>
          <li>Sekretess och säkerhet</li>
        </ul>
    </figure>  
    <figure>
      <figcaption>Konto</figcaption>
      <ul>
          <li>Nytt konto</li>
          <li>Logga in</li>
          <li>Mina uppgifter</li>
          <li>Orderhistorik</li>
          <li>Integritetspolicy</li>
          <li>Rabattkoder</li>
          <li>Kampanjer</li>
        </ul>
    </figure>
  </div>
  <div class="iconContainer">  
    <p>Sociala medier</p>
    <img src="../../assets/images/facebook.png" alt="Facebook loggan"/>
    <img src="../../assets/images/instagram.png" alt="Instagram loggan"/>
    <img src="../../assets/images/twitter.png" alt="Twitter loggan"/>
    <img src="../../assets/images/reddit.png" alt="Reddit loggan"/>
    <img src="../../assets/images/videomix (1).svg" alt="loggan"/>
  </div>
</div>
