.container{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 margin-top: 20px;
 margin-left: 20px;
 font-family: 'Roboto', sans-serif;
}
.sortBy {
 width: 100%;
 background-color: whitesmoke;
}
.filmContainer {
  width: 320px;
  height: 220px;
  border: 2px solid black;
  overflow: hidden;
  margin: 10px;
  background-color: whitesmoke;
}

h2 {
 font-size: 1.2em;
 margin: 0px;
}
h3 {
 font-size: 0.8em;
 margin: 0px;
}
.starRating{
 height: 15px;
}
.moviePosters {
 height: 200px;
 float: left;
 margin: 10px;
}
.moviePosters404 {
    height: 200px;
    width: 150px;
    float: left;
    margin: 10px;
}
