

<div class="jumbotron text-center">
<h1>Movie-Mix</h1>
<h3>Våran totalt uniqa top 20 lista</h3>
</div>
<button class="btn btn-success"(click)="getMovieDataApi()" *ngIf="buttonToggleFetch">click me to fetch</button>
<button class="btn btn-success"(click)="saveList()" *ngIf="buttonToggleSave">click me after fetch</button>

<button class="btn btn-success"(click)="loopContent()">LoopiLoop</button>
<div
  class="container"
  *ngFor="let listItem of ratedMovies; let i = index">
<div class="row" style="border: 1px solid black;">
  <div class="col-sm-7">
    <h1 class="movieTitle">{{listItem.title}}</h1><h3>{{listItem.release_date}}</h3><br>
    <div>


      <br>
      <fa-icon *ngFor="let star of listItem.numberOfStars"  [icon]="['fas', 'star']"  size="2x" [styles]="{'color': 'gold', 'font-weight': '200'}" ></fa-icon>

    </div>
    <div class="row" id="movieStats">
      <div class="col-sm-5">
              <img class="moviePosters" src="https://image.tmdb.org/t/p/w185/{{listItem.poster_path}}" alt="x">
      </div>
      <div class="col-sm-7">
          <p class="movieInfo">{{listItem.overview}}</p>
          <button type="button" class="btn btn-warning">IMDB SCORE {{listItem.vote_average}}</button>
          <button type="button" class="btn btn-danger" (click)="onClick(i)">MOVIEMIX SCORE {{listItem.popularity}} </button>

      </div>
    </div>
   </div>
    <div class="col-sm-5" hidden="true">
    <div class="jumbotron text-center"><h2>More content:</h2></div><br><br>

    <p class="movieInfo">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
       Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
       qui officia deserunt mollit anim id est laborum.</p>

  </div>


  </div>
</div>
