.Image {
    width: 300px;
}

p {
    position: relative;
    font-family: roboto;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg,white, #fff, white);
    background-repeat: no-repeat;
    background-size: 80%;
    -webkit-background-clip: text;
   /* 
   animation: animate 18s linear infinite;
   -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  animation-play-state: 18s
  paused;*/
}

  /*
 @keyframes animate {
    0% {
      background-position: -250%;
    }
    90% {
      background-position: 250%;
    }
  }*/
  
  .textp{
    font-size: small;
  text-align: center;
  margin: 0px;
 background-color: rgb(0,0,0,0.2); 
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    z-index: 2;
  width: 55%;
  padding: 75px;
  letter-spacing: 1px;
  font-family: Roboto Condensed Light;
  /*background-color:#ffffff;
    color: #676666;*/
   text-align: justify;
    text-transform: lowercase;
    
  }
  
  
