.selectedContainer {
    width: 80%;
    margin: 10%;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 2px solid black;
    height: 260px;
}
.moviePosters {
    float: left;
    height: 200px;
    margin: 20px;
}
.innerContainer {
    float: right;
}
.starRating {
    height: 20px;
}
.movieRelease {
    margin-bottom: 0px;
}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    width: 200px;
    position: relative;
    margin-left: 170px;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before  {
    content: "\2605";
   position: absolute;
}
.rating > p {
    margin: 0px;
    text-align: center;
}
.voted {
    color: darkgoldenrod;
    margin-left: 400px;
    margin-top: -35px;
}