.selectedContainer {
    width: 80%;
    margin: 10%;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 2px solid black;
    height: auto;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
.xRemoveIcon { 
    width: 20px;
    float: right;
    margin: 5px;
}
.xRemoveIcon > img {
    height: 20px;
}
.moviePosters {
    float: left;
    height: 200px;
    margin: 20px;
}
.innerContainer {
    float: right;
}
.starRating {
    height: 20px;
}
.movieRelease {
    margin-bottom: 0px;
}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    width: 400px;
    position: relative;
    margin-left: 170px;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-size: 2em;
    color: goldenrod;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before  {
    content: "\2605";
   position: absolute;
}
.rating > p {
    margin: 0px;
    text-align: center;
}