<div class="header">
        <a href="#default" class="logo">Logo</a>
        <div class="header-right">
            <div class="containerheder">
                <div class="en"><a routerLink="/LandingPage" routerLinkActive="routed">Landingpagea<hr></a></div>
                <div class="två"><a routerLink="/Toplist" routerLinkActive="routed">Topplista<hr></a></div>
                <div class="tree"><a routerLink="/Rating" routerLinkActive="routed">Rating<hr></a></div>
                <div class="fyra"><a routerLink="/Form" routerLinkActive="routed">Formulär<hr></a></div>
                <div class="fem" ><a routerLink="/Credits" routerLinkActive="routed">Credit<hr></a></div>
            </div>  
        </div>  
</div>


<router-outlet></router-outlet>
