.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 35px;
  font-family: 'Roboto';
  letter-spacing: 1px;
}
.sortBy {
  width: 100%;
  background-color: #ffffff;
}
.filmContainer {
  width: 320px;
  height: 220px;
  border: 1px solid #2e2e2e;
  overflow: hidden;
  margin: 10px;
  background-color: #ffffff;
}
.filmContainer:hover{
  cursor: pointer;
}
h2 {
  font-size: 1.2em;
  margin: 0px;
}
h3 {
  font-size: 0.8em;
  margin: 0px;
}
.starRating{
  height: 15px;
}
.moviePosters {
  height: 200px;
  float: left;
  margin: 10px;
}
.movieInfo {
  margin: 0px;
}
span {
  margin-right: 30px;
}
.filmContainer:hover {
  transform: scale(1.1)
}
