<app-film-child [selectedFilm]="selectedFilm" (onAction)="voteOnFilm(selectedFilm)"></app-film-child>
<div
    *ngFor="let listItem of recentlyAddedMovie"
    (click)="selectFilm(listItem)">
    <div class="filmContainer">
        <img class="moviePosters" src="https://image.tmdb.org/t/p/w185/{{listItem.poster_path}}" alt="Filmposter">

      <h2>{{listItem.title}}</h2>
      <h3> <img class="starRating" src='http://imgur.com/I0EwG.png http://imgur.com/I0EwG.png' /><span>IMDB SCORE {{listItem.vote_average}}</span></h3>
      <p class="movieReleaseDate">Release: {{listItem.release_date}}</p>
      <p class="movieInfo">Klicka för mer info</p>
    </div>


</div>
<div class="container"
  *ngFor="let listItem of movieMix_ratings"
  (click)="selectFilm(listItem)">
  <div class="filmContainer">
      <img class="moviePosters" src="https://image.tmdb.org/t/p/w185/{{listItem.poster_path}}" alt="Filmposter">

    <h2>{{listItem.title}}</h2>
    <h3> <img class="starRating" src='http://imgur.com/I0EwG.png http://imgur.com/I0EwG.png' /><span>IMDB SCORE {{listItem.vote_average}}</span></h3>
    <p class="movieReleaseDate">Release: {{listItem.release_date}}</p>
    <p class="movieInfo">Klicka för mer info</p>
  </div>
</div>
