
<div class="jumbotron text-center">
<h1>Movie-Mix</h1>
<h3>Våran RejtLista</h3>
</div>


<!-- <fa-icon [icon]="['fas', 'star']"></fa-icon>
<fa-icon [icon]="['far', 'star']"></fa-icon>
 -->


  <div
    class="container"
    *ngFor="let listItem of moviesToRate; let i = index">
  <div
    class="row"
    style="border: 1px solid black;">
  <div class="col-sm-7">
    <h1 class="movieTitle">{{listItem.title}}</h1><h3>{{listItem.release_date}}</h3><br>

    <div>
      <div>
        <button (click)="buttonFunction(i, 1)" class="transparent"><fa-icon [icon]="['far', 'star']"  size="2x" [styles]="{'color': 'gold', 'font-weight': '200'}" ></fa-icon></button>
        <button (click)="buttonFunction(i, 2)" class="transparent"><fa-icon [icon]="['far', 'star']"  size="2x" [styles]="{'color': 'gold', 'font-weight': '200'}" ></fa-icon></button>
        <button (click)="buttonFunction(i, 3)" class="transparent"><fa-icon [icon]="['far', 'star']"  size="2x" [styles]="{'color': 'gold', 'font-weight': '200'}" ></fa-icon></button>
        <button (click)="buttonFunction(i, 4)" class="transparent"><fa-icon [icon]="['far', 'star']"  size="2x" [styles]="{'color': 'gold', 'font-weight': '2200'}" ></fa-icon></button>
        <button (click)="buttonFunction(i, 5)" class="transparent"><fa-icon [icon]="['far', 'star']"  size="2x" [styles]="{'color': 'gold', 'font-weight': '2200'}" ></fa-icon></button>

      </div>
      <div>
         <!-- <button class="transparent"><fa-icon [icon]="['far', 'star']"  size="2x" [styles]="{'color': 'gold', 'font-weight': '200'}" ></fa-icon></button> -->
      </div>
    </div>

    <!-- <div class="row" id="movieStats" *ngIf="hidden">
      <div class="col-sm-5">
              <img class="moviePosters" src="https://image.tmdb.org/t/p/w185/{{listItem.poster_path}}" alt="x">
      </div>
      <div class="col-sm-7">
          <p class="movieInfo">{{listItem.overview}}</p>
          <button type="button" class="btn btn-warning">IMDB SCORE {{listItem.vote_average}}</button>
          <button type="button" class="btn btn-danger" (click)="onClick(i)">MOVIEMIX SCORE {{listItem.totalScore}} </button>
      </div>
    </div>
   </div>
  </div>
</div> -->
