<div class="inputFormContainer">
    <div class="inputForm">
        <span>Title</span>
        name="" value="Name"
        <input class="titleInput" type="text" value="avengers" (onkeyup)="filterList($event)" />
        <span>Your name</span>
        <input class="userNameInput" type="text" />
        <input type="text" />
        <input type="text" />
        <span>Comment</span>
        <textarea class="commentInputText" rows="8" cols="80"></textarea>
        <button type="button" (click)="addMovieComment()">hello</button>
    </div>
</div>
