<div class="inputFormContainer">
    <div class="inputForm">
        <form [formGroup]="groupPostMovie">
            <div class="addMovieImdb">
                <h3>Add Movie from Imdb</h3>
                <label>Title</label>
                <input id="titleInput" type="text" value=" " formControlName="searchByTitle"/>
                <ul id="titleList"*ngFor="let movieSearched of movieSearch | slice: 0:5; let i = index " (click)="addMovieToMovie(i)"
                [ngClass]="{'active': selectedIdx == i}">
                    {{movieSearched.title}}
                </ul>
                <p>{{movieAddedNotice}}</p>
            </div>
        </form>
    </div>
</div>

<div class="inputFormContainer">
    <div class="inputForm">
        <form class=""
         [formGroup]="addYourMovieGroup" >
         <div class="addMovieImdb">

            <h3>Add your Your Favorite movie</h3>
            <label>Title</label>
            <input class="yourTitle" value="" placeholder="Title" type="text" formControlName="yourTitle"
            [class.valid]="yourTitle.valid && (yourTitle.touched || yourTitle.dirty)"
            [class.invalid]="yourTitle.invalid && (yourTitle.touched || yourTitle.dirty)"/>

            <div class="errorMessage" *ngIf="(yourTitle.errors?.required || yourTitle.errors?.minlength) && yourTitle.touched">
			      You have to enter at least 2 letters
		</div>


            <label>Release date</label>
            <input class="yourRealeseDay" value="" placeholder="yyyy-mm-dd" type="text"
            formControlName="yourRealeseDay"
            [class.valid]="yourRealeseDay.valid && (yourRealeseDay.touched || yourRealeseDay.dirty)"
            [class.invalid]="yourRealeseDay.invalid && (yourRealeseDay.touched || yourRealeseDay.dirty)"
            />

            <div class="errorMessage" *ngIf="(yourRealeseDay.errors?.required || yourRealeseDay.errors?.pattern) && yourRealeseDay.touched">
			Valid date is yyyy-mm-dd
		</div>

            <label>Overview</label>
            <input class="yourOverview" value="" placeholder="Overview" type="text"
            formControlName="yourOverview"
            [class.valid]="yourOverview.valid && (yourOverview.touched || yourOverview.dirty)"
            [class.invalid]="yourOverview.invalid && (yourOverview.touched || yourOverview.dirty)"
            />

            <div class="errorMessage" *ngIf="(yourOverview.errors?.required || yourOverview.errors?.minlength) && yourOverview.touched">
			You have to enter at least 10 letters
		</div>

            <label>Rating</label>
            <input class="yourPopularity" value="" placeholder="Rating" type="text" formControlName="yourPopularity"
            [class.valid]="yourPopularity.valid && (yourPopularity.touched || yourPopularity.dirty)"
            [class.invalid]="yourPopularity.invalid && (yourPopularity.touched || yourPopularity.dirty)"
             />


            <div class="errorMessage" *ngIf="(yourPopularity.errors?.required || yourPopularity.errors?.minlength || yourPopularity.errors?.maxlength) && yourPopularity.touched">
			Write a number between 1 and 10!!
		</div>
    
      <button type="button" [disabled]="addYourMovieGroup.invalid" (click)="uploadMovie()">
                  Upload your Movie </button><p class="test">{{msgWhenMovieAdded}}</p>



        </div>

        </form>

    </div>
</div>
