.inputFormContainer {
    margin-top: 13em;
    text-align: center;
}
.inputForm {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
input {
    background-color: white;
    color: black;
    border-radius: 20px;
    border: none;
    width: 50em;
    height: 2em;
    margin: 1em;
}
textarea {
    background-color: white;
    color: black;
    height: 8em;
    width: 50em;
}
button {
    width: 6em;
    height: 2em;
    margin-left: 1em;
    padding: 1.7em;
}
ul {
    background-color: white;
    color: black;
}
