<div class="inputFormContainer">
    <div class="inputForm">
        <form [formGroup]="groupPostMovie"
        >
            <div>
                <label>Title</label>
                <input class="titleInput" type="text" value=" " formControlName="searchByTitle" />
            </div>
            <div>
                <label>Your name</label>
                <input class="userNameInput" type="text" formControlName="yourName" />
            </div>
            <div>
                <label>Comment</label>
                <textarea class="commentInputText" formControlName="postComment"></textarea>
            </div>
        </form>
        <button type="button" (click)="addMovieComment()">hello</button>

    </div>
</div>
