.inputFormContainer {
    height: 27em;
    text-align: center;
}
.inputFormContainer:first-child {
    margin-top: 10em;
}
.inputFormContainer:last-child {
    margin-bottom: 15em;
}
.inputForm {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
input {
    background-color: rgb(0,0,0,0.2);
    color:black;
    border-radius: 17px;
    border: none;
    width: 70vw;
    height: 4em;
    margin: 1em;
    outline: none;
    font-size: 11p;
    text-align: center;
    letter-spacing: 1px;
    font-family: "Roboto";
}
ul {
    background-color: rgb(0,0,0,0.2);
    color: black;
    margin: 1px;
    padding: 1em;
}
ul:nth-child(odd) {
    background-color: #ffffff;
}
ul:hover {
    cursor: pointer;
}
label {
    color: black;
}
.addMovieImdb {
    background-color: #ffffff;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 1px;
    font-family: "Roboto";
}
label {
    color: black;
}
button {
    border-radius: 20px;
    height: 5em;
    width: 15em;
    margin-bottom: 1em;
    outline: none;
    border: 2px solid #2e2e2e;
    background-color:#676666;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 2px;
    font-family: "Roboto";
}
.valid {
    border: solid green 2px;
}
.invalid {
    border: solid red 2px;
}
.errorMessage {
}

.active {
  background-color: green;
}
#titleList:hover {
  background-color: lightgrey;
}
