.inputFormContainer {
    height: 27em;
    text-align: center;
}
.inputFormContainer:first-child {
    margin-top: 10em;
}
.inputFormContainer:last-child {
    margin-bottom: 6em;
}
.inputForm {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
input {
    background-color: white;
    color: black;
    border-radius: 20px;
    border: none;
    width: 70vw;
    height: 4em;
    margin: 1em;
    outline: none;
}
ul {
    background-color: white;
    color: black;
    margin: 1px;
    padding: 1em;
}
ul:nth-child(odd) {
    background-color: #F5F5F5;
}
ul:hover {
    cursor: pointer;
}
label {
    color: white;
}
.addMovieImdb {
    background-color: #EEF2FF;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
label {
    color: black;
}
button {
    border-radius: 20px;
    height: 5em;
    width: 15em;
    margin-bottom: 1em;
    outline: none;
}
.valid {
    border: solid yellow 2px;
}
.invalid {
    border: solid red 2px;
}
.errorMessage {

}
