<div class="text">
        <p>Welcome to VideoMix.<br>
           This is where your dreams come true, <br>
           you can fall in love or make a nemesis.<br>
           Through the movies we mean.</p>
    </div>
    <p class="us">About us</p>
    <hr class="line">
<div class="containera">
<img src="../assets/images/Kamera1.jpg" alt="Kamera" class="Image"/>
<img src="../assets/images/Kamera2.jpg" alt="Kamera2" class="Image"/>
</div>
<div class="containerp">
        <details class="name">
       <summary>Samira</summary>
       
       <a href="https://github.com/effisami">GitHub</a><br/>
        </details>
        
    <!--<p class="name"text-algin="container">Eva</p>-->
    <details class="namea">
            <summary>Eva</summary>
            
            <a href="https://github.com/Eva-Fireborn">GitHub</a><br/>
            <a href="https://se.linkedin.com/in/eva-fireborn-b78971171">Linked-in</a>
             </details>

</div>
<div class="container">
<img  src="../assets/images/Kamera1.jpg" alt="Kamera" class="Image"/>
<img src="../assets/images/Kamera2.jpg" alt="Kamera2" class="Image"/>
</div>
<div class="containern">
        <details class="name">
                <summary>Niclas</summary>
                
                 <a href="https://github.com/mringen">GitHub</a><br/>
                 <a href="https://www.linkedin.com/in/niclas-hammarstr%C3%B6m-a22635154/">Linked-in</a>
                 </details>
                 <details class="namea">
                        <summary>Henrik</summary>
                        
                         <a href="https://github.com/Maltex88/Maltex88.github.io">GitHub</a><br/>
                         <a href="https://www.linkedin.com/in/henrik-nilsson-0b8a0716a/">Linked-in</a>
                         </details>
</div>
<hr class="line">