<div class="text">
        <p >Lorem ipsum dolor sit amet<br>
           consectetur adipisicing elit. Cupiditate incidunt praesentium, <br>
           rerum voluptatem in reiciendis officia harum<br>
            repudiandae tempore suscipit ex ea, adipisci ab porro.</p>
    </div>
    <p class="us">Om Oss</p>
    <hr class="line">
<div class="containera">
<img src="../assets/images/Kamera1.jpg" alt="Kamera" class="Image"/>
<img src="../assets/images/Kamera2.jpg" alt="Kamera2" class="Image"/>
</div>
<div class="containerp">
    <p class="name"text-algin="container">Eva</p>
    <p class="namea">Samira</p>

</div>
<div class="container">
<img  src="../assets/images/Kamera1.jpg" alt="Kamera" class="Image"/>
<img src="../assets/images/Kamera2.jpg" alt="Kamera2" class="Image"/>
</div>
<div class="containern">
    <p class="name">Niclas</p>
    <p class="namea">Henrik</p>
</div>
<hr class="line">