<div class="text">
        <p>Welcome to VideoMix.<br>
           This is where your dreams come true, <br>
           you can fall in love or make a nemesis.<br>
           Through the movies we mean.</p>
    </div>
    <p class="us">About us</p>
    <hr class="line">
<div class="containera">
<img src="../assets/images/IMG_9180 2.jpg" alt="Kamera" class="Image"/>
<img src="../assets/images/IMG_1304.JPG" alt="Kamera2" class="Image"/>
</div>
<div class="containerp">
       <details class="name">
       <summary>Samira</summary>
       <p class="main"><a href="https://github.com/effisami">GitHub</a></p>
     

        </details>
        <details class="namea">
        <summary>Eva</summary>
        <p class="main"><a href="https://github.com/Eva-Fireborn">GitHub</a></p> 
        <p class="main"><a href="https://se.linkedin.com/in/eva-fireborn-b78971171">Linked-in</a></p> 
        </details>

</div>
<div class="container">
<img  src="../assets/images/IMG_1303.JPG" alt="Kamera" class="Image"/>
<img src="../assets/images/IMG_1305.JPG" alt="Kamera2" class="Image"/>
</div>
<div class="containern">
        <details class="name">
        <summary>Niclas</summary>
        <p class="main"><a href="https://github.com/mringen">GitHub</a></p>
        <p class="main"><a href="https://www.linkedin.com/in/niclas-hammarstr%C3%B6m-a22635154/">Linked-in</a></p>
        </details>
        <details class="namea">
        <summary>Henrik</summary>
         <p class="main"><a href="https://github.com/Maltex88/Maltex88.github.io">GitHub</a></p>
         <p class="main"><a href="https://www.linkedin.com/in/henrik-nilsson-0b8a0716a/">Linked-in</a></p>
        </details>

</div>
<hr class="line">